---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Scenarios from "../components/Scenarios.astro";
import AppPreview from "../components/AppPreview.astro";
import FeatureDemos from "../components/FeatureDemos.astro";
import ClosingCTA from "../components/ClosingCTA.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Scenarios />
    <AppPreview />
    <FeatureDemos />
    <ClosingCTA />
    <FAQ />
  </main>
  <Footer />
</Layout>
